@tailwind base;
@tailwind components;
@tailwind utilities;




/* .header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width:100px;
}

.nav-items > ul{
    display:flex;
    list-style-type: none;  
}

.nav-items > ul > li{
    padding:10 px;
    margin :10px; 
    font-size:20 px;
}

.table-container{
    display: grid;
}

.styled-table {
    
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.footer{
    position: absolute; 
    bottom: 0; 
    left: 0; 
} */